.contact {
    display: flex;
    padding: 3rem 5rem;
    gap: 10rem;
}

.left-c {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.right-c{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left-c div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-us {
    display: flex;
    gap: 3rem;
    background-color: var(--darkGrey);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.contact-us > input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 1rem;
}

::placeholder {
    padding: 1rem 0;
    color: var(--lightGrey);
}


@media screen and (max-width: 768px) {

    .contact, .right-c {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}