/* make variables */
:root {
  --lightGrey: #D9D9D9;
  --gray: #9c9c9c;
  --aqua: #009aa8;
  --darkGrey: #464D53;
  --planCard: linear-gradient(to right top, #03045e, #003f94, #006daa, #009aa8, #02c39a);
  --appColor:  #3c3f45;
}

.App {
  background-image: radial-gradient(circle, #90dbf4, #93e6e7, #a9edd6, #cbf2c5, #f0f3bd);
  mix-blend-mode: overlay;
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}
.stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.button {
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  border-radius: .5rem;
}

.button:hover {
  cursor: pointer;
}

